<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HTML!</title>
</head>
<body>
	<div align="center">
		<div><a href="">default</a></div>
		<div><a href="/hello">hello</a></div>
		<div><a href="/search-form">search-form</a></div>
		<div><a href="/search">search</a></div>
		<div><a href="/search-post">search-post</a></div>
		<div><a href="/addReq">add</a></div>
		<div><a href="/viewImg">viewImg</a></div>
		<div><a href="/KonachanCreeper">KonachanCreeper</a></div>
		<div><a href="/QSFuliCreeper">QSFuliCreeper</a></div>
	</div>
</body>
</html>